* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #2B2B2B;
    font-family: "Segoe UI", Arial, sans-serif;
}

.cv {
    width: 980px;
    margin: 30px auto;
    display: flex;
    background: #ffffff;
}

/* SOL PANEL */
.sidebar {
    width: 32%;
    background: #00065c;
    color: #EEEEEE;
    padding: 35px 25px;
}

.sidebar img {
    width: 155px;
    height: 155px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 30px;
}

.sidebar section {
    margin-bottom: 28px;
}

.sidebar h2 {
    font-size: 14px;
    letter-spacing: 1px;
    border-bottom: 1px solid #00ADB5;
    padding-bottom: 6px;
    margin-bottom: 12px;
}

.sidebar p,
.sidebar a {
    font-size: 14px;
    line-height: 1.6;
    color: #DDDDDD;
    text-decoration: none;
    display: block;
}

.sidebar a:hover {
    color: #36386e;
}

/* SAĞ PANEL */
.content {
    width: 68%;
    padding: 40px 45px;
}

header h1 {
    margin: 0;
    font-size: 30px;
    letter-spacing: 3px;
    color: #1E1E1E;
}

header span {
    font-size: 15px;
    color: #555555;
}

/* BLOKLAR */
.block {
    margin-top: 35px;
}

.block h2 {
    font-size: 16px;
    letter-spacing: 1px;
    border-bottom: 1px solid #36386e;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color: #1E1E1E;
}

/* TIMELINE */
.timeline {
    display: flex;
    gap: 20px;
    margin-bottom: 25px;
    position: relative;
}

.timeline::before {
    content: "";
    position: absolute;
    left: 6px;
    top: 0;
    bottom: 0;
    width: 2px;
    background: #CCCCCC;
}

.dot {
    width: 14px;
    height: 14px;
    background: #00ADB5;
    border-radius: 50%;
    margin-top: 4px;
    z-index: 2;
}

.text h3 {
    margin: 0;
    font-size: 15px;
    color: #1E1E1E;
}

.text small {
    color: #585858;
    font-size: 13px;
}

.text p {
    margin-top: 6px;
    font-size: 14px;
    color: #333333;
}

/* SKILLS */
.skill {
    margin-bottom: 15px;
}

.skill span {
    font-size: 14px;
    color: #1E1E1E;
}

.bar {
    width: 100%;
    height: 6px;
    background: #aaaae3;
    margin-top: 6px;
}

.bar div {
    height: 6px;
    background: #36386e;
}